<html layout:decorator="/admin/adminLayout">
<div layout:fragment="content">
    <form method="post" name="comment_form" id="comment_form" action="/admin/units/update" role="form">
        <div class="form-group">
            <tr>
                <td><label for="message">Unit ID</label></td>
                <td><input type="text" id="unit_id" name="unit_id" class="form-control" th:value="${unit.id}" readonly="true" /></td>
            </tr>
            <tr>
                <td><label for="message">Unit Name</label></td>
                <td><input type="text" id="unit_name" name="unit_name" class="form-control" th:value="${unit.name}" /></td>
            </tr>
            <tr>
                <td><label for="message">Lecturer</label></td>
                <td><select id="lecturer" name="lecturer" class="form-control">
                        <option th:each="option : ${lecturers}"
                                th:value="${option.username}"
                                th:text="${option.username}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="message">Program</label></td>
                <td><select id="program" name="program" class="form-control">
                        <option th:each="optProgram : ${programs}"
                                th:value="${optProgram.name}"
                                th:text="${optProgram.name}"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="message">Credit</label></td>
                <td><input type="text" id="credit" name="credit" class="form-control" th:value="${unit.credit}" /></td>
            </tr>
            <tr>
                <td><label for="message">Description</label></td>
                <td><input type="text" id="description" name="description" class="form-control" th:value="${unit.description}" /></td>
            </tr>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="/admin/units">Cancel</a>
    </form>
</div>
</html>