<html layout:decorator="layout">

<div layout:fragment="content">



<table class="table table-striped" id="units_lists">
    <thead>
    <tr>
        <th>Unit ID</th>
        <th>Unit Name</th>
        <th>Lecturer</th>
        <th>Program</th>
        <th>Credit</th>
        <th>Description</th>
        <th>Enroll</th>

    </tr>
    </thead>
    <tbody>
    <tr data-th-each="unit : ${units}">
        <td class="id" data-th-text="${unit.id}"></td>

        <td class="name" data-th-text="${unit.name}"></td>

        <td class="lecturer" data-th-text="${unit.lecturer}"></td>

        <td class="program" data-th-text="${unit.program}"></td>

        <td class="credit" data-th-text="${unit.credit}"></td>

        <td class="description" data-th-text="${unit.description}"></td>

        <td>
            <a th:href="@{'/enrollment/{id}/myenroll'(id=${unit.id})}" class="edit" th:attr="name=${unit.name}">
                <span class="fa-stack">
                    <i class="glyphicon glyphicon-edit"></i>
                </span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

    <br/><br/><br/>
    <h1>My Enroll units</h1>

    <table class="table table-striped" id="myEnrollment">
        <thead>
        <tr>
            <th>Unit ID</th>
            <th>Drop</th>
           <th>Unit Material</th>

        </tr>
        </thead>
        <tbody>
        <tr data-th-each="enrollment : ${enrollment}">
            <td class="id" data-th-text="${enrollment.unitID}"></td>
            <td>
                <a th:href="@{'/enrollment/{id}/drop'(id=${enrollment.id})}" class="delete" >
                <span class="fa-stack">
                    <i class="glyphicon glyphicon-edit"></i>
                </span>
                </a>
            </td>
            <td>

                      <span class="fa-stack">
                    <i class="glyphicon glyphicon-edit"></i>
                </span>


            </td>
        </tr>
        </tbody>
    </table>

</div>
</html>