<html layout:decorator="/admin/adminLayout">

<div layout:fragment="content">

    <table class="table table-striped" id="students_lists">
        <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Program</th>
            <th>Edit Enrol Unit</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="student : ${students}">
            <td class="id" data-th-text="${student.id}"></td>

            <td class="name" data-th-text="${student.name}"></td>

            <td class="program" data-th-text="${student.program}"></td>

            <td>
                <a th:href="@{'/admin/enrol/{id}/edit'(id=${student.id})}" class="edit">
                <span class="fa-stack">
                    <i class="glyphicon glyphicon-edit"></i>
                </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</html>